<footer class="page-footer grey darken-4">
    <div class="container">
        <div class="row">
            <div class="footer-copyright">
                © 2021 wajeht
                <a class="grey-text text-lighten-4 right" target="_blank"
                   href="https://github.com/wajeht/training-vlog">view on
                    github</a>
            </div>
        </div>
    </div>
    </div>
</footer>

<!--JavaScript at end of body for optimized loading-->
<script type="text/javascript" src="/js/materialize.min.js"></script>
</body>

</html>