<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/css/materialize.min.css" media="screen,projection" />
    <title>
        <%= pageTitle %>
    </title>
</head>

<style>
    body {
        display: flex;
        min-height: 100vh;
        flex-direction: column;
    }

    main {
        flex: 1 0 auto;
    }
</style>


<script>
    // this will auto set default date object when add-video loaded
    document.addEventListener('DOMContentLoaded', function () {
        var options = {
            defaultDate: new Date(),
            setDefaultDate: true
        };
        var elems = document.querySelector('.datepicker');
        var instance = M.Datepicker.init(elems, options);
        // instance.open();
        instance.setDate(new Date());
    });

    document.addEventListener('DOMContentLoaded', function () {

        var elems = document.querySelectorAll('.sidenav');
        M.Sidenav.init(elems);
    })


</script>


<body class="grey lighten-2">

    <header>
        <!-- navbar and header goes here -->
        <nav class="nav-extended grey darken-4">
            <div class="nav-wrapper container">
                <a id="logo-container" href="/" class="brand-logo">training-vlog</a>

                <ul class="right hide-on-med-and-down">

                    <% if (isAuthenticated) { %>

                        <li><a href="/add-video">add-video</a></li>
                        <li>
                            <form action="/logout" method="post">
                                        <input type="hidden" id="csrfToken" name="_csrf" value="<%= csrfToken %>">
                                <button class="btn-flat waves-effect waves-light white black-text text-darken-4"
                                        type="submit">logout</button>
                            </form>
                        </li>

                        <% } else { %>
                            <li><a href="/login">login</a></li>
                            <% } %>
                </ul>

                <ul id="nav-mobile" class="sidenav">

                    <% if (isAuthenticated) { %>

                        <li><a href="/add-video">add-video</a></li>

                        <li><a href="/logout">logout</a></li>


                        <% } else { %>
                            <li><a href="/login">login</a></li>
                            <% } %>

                </ul>
                <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            </div>

            <!-- <div class="nav-header container center" style="height: 300px;">
                <br>
                <img src="images/sample-1.jpg" alt="" class="circle" width="15%">
                <h4>yanllone</h4>
                <br>
            </div> -->


        </nav>


    </header>