<%- include("./includes/top.ejs") %>


    <main>
        <div class="container">
            <br><br>
            <div class="row">
                <div class="col s12">
                    <div class="card">
                        <div class="card-content">
                            <div class="row">
                                <div>
                                    <form action="/add-video" method="POST">
                                        <div class="file-field input-field col s6">
                                            <div class="btn grey darken-4">
                                                <span>File</span>
                                                <input type="file" multiple>
                                            </div>
                                            <div class="file-path-wrapper">
                                                <input class="file-path validate" type="text"
                                                       placeholder="Upload one or more files" required>
                                            </div>
                                        </div>

                                        <div class="input-field col s12">
                                            <input type="text" class="datepicker" name="date" id="date">
                                            <label for="icon_prefix">Date</label>
                                        </div>

                                        <div class="input-field col s12">
                                            <textarea id="icon_prefix" id="title" name="title"
                                                      class="materialize-textarea" required></textarea>
                                            <label for="icon_prefix">Title</label>
                                        </div>

                                        <div class="input-field col s12 ">
                                            <textarea id="icon_prefix" id="message" name="message"
                                                      class="materialize-textarea" required></textarea>
                                            <label for="icon_prefix">Message</label>
                                        </div>


                                        <div class="col">
                                            <button class="btn waves-effect waves-light grey darken-4" type="submit"
                                                    name="action">Submit
                                                <i class="material-icons right ">send</i>
                                            </button>

                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <%- include("./includes/bottom.ejs") %>