<%- include("./includes/top.ejs") %>



    <main>

        <div class="container">
            <br><br>

            <!-- Page Content goes here -->
            <div class="row">

                <div class="col s3">
                    <a href="/video-details">
                        <div class="card hoverable">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img src="images/sample-1.jpg" />
                            </div>
                            <div class="card-content">
                                <span class="grey-text text-darken-4">Card Title</span>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col s3">
                    <a href="/video-details">
                        <div class="card hoverable">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img src="images/sample-1.jpg" />
                            </div>
                            <div class="card-content">
                                <span class="grey-text text-darken-4">Card Title</span>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col s3">
                    <a href="/video-details">
                        <div class="card hoverable">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img src="images/sample-1.jpg" />
                            </div>
                            <div class="card-content">
                                <span class="grey-text text-darken-4">Card Title</span>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col s3">
                    <a href="/video-details">
                        <div class="card hoverable">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img src="images/sample-1.jpg" />
                            </div>
                            <div class="card-content">
                                <span class="grey-text text-darken-4">Card Title</span>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col s3">
                    <a href="/video-details">
                        <div class="card hoverable">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img src="images/sample-1.jpg" />
                            </div>
                            <div class="card-content">
                                <span class="grey-text text-darken-4">Card Title</span>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col s3">
                    <a href="/video-details">
                        <div class="card hoverable">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img src="images/sample-1.jpg" />
                            </div>
                            <div class="card-content">
                                <span class="grey-text text-darken-4">Card Title</span>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col s3">
                    <a href="/video-details">
                        <div class="card hoverable">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img src="images/sample-1.jpg" />
                            </div>
                            <div class="card-content">
                                <span class="grey-text text-darken-4">Card Title</span>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col s3">
                    <a href="/video-details">
                        <div class="card hoverable">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img src="images/sample-1.jpg" />
                            </div>
                            <div class="card-content">
                                <span class="grey-text text-darken-4">Card Title</span>
                            </div>
                        </div>
                    </a>
                </div>

            </div>
    </main>





    <%- include("./includes/bottom.ejs") %>