<%- include("./includes/top.ejs") %>



    <main>

        <div class="container">
            <br><br>

            <!-- Page Content goes here -->
            <div class="row">

                <div class="col s3">
                    <div class="card hoverable">
                        <div class="card-image waves-effect waves-block waves-light">
                            <a href="/video-details"><img src="images/sample-1.jpg" /></a>
                        </div>
                        <div class="card-content">
                            <span class="grey-text text-darken-4">Card Title</span>
                        </div>
                    </div>
                </div>

                <div class="col s3">
                    <div class="card hoverable">
                        <div class="card-image waves-effect waves-block waves-light">
                            <a href="/video-details"><img src="images/sample-1.jpg" /></a>
                        </div>
                        <div class="card-content">
                            <span class="grey-text text-darken-4">Card Title</span>
                        </div>
                    </div>
                </div>

                <div class="col s3">
                    <div class="card hoverable">
                        <div class="card-image waves-effect waves-block waves-light">
                            <a href="/video-details"><img src="images/sample-1.jpg" /></a>
                        </div>
                        <div class="card-content">
                            <span class="grey-text text-darken-4">Card Title</span>
                        </div>
                    </div>
                </div>

                <div class="col s3">
                    <div class="card hoverable">
                        <div class="card-image waves-effect waves-block waves-light">
                            <a href="/video-details"><img src="images/sample-1.jpg" /></a>
                        </div>
                        <div class="card-content">
                            <span class="grey-text text-darken-4">Card Title</span>
                        </div>
                    </div>
                </div>

                <div class="col s3">
                    <div class="card hoverable">
                        <div class="card-image waves-effect waves-block waves-light">
                            <a href="/video-details"><img src="images/sample-1.jpg" /></a>
                        </div>
                        <div class="card-content">
                            <span class="grey-text text-darken-4">Card Title</span>
                        </div>
                    </div>
                </div>

                <div class="col s3">
                    <div class="card hoverable">
                        <div class="card-image waves-effect waves-block waves-light">
                            <a href="/video-details"><img src="images/sample-1.jpg" /></a>
                        </div>
                        <div class="card-content">
                            <span class="grey-text text-darken-4">Card Title</span>
                        </div>
                    </div>
                </div>

                <div class="col s3">
                    <div class="card hoverable">
                        <div class="card-image waves-effect waves-block waves-light">
                            <a href="/video-details"><img src="images/sample-1.jpg" /></a>
                        </div>
                        <div class="card-content">
                            <span class="grey-text text-darken-4">Card Title</span>
                        </div>
                    </div>
                </div>

                <div class="col s3">
                    <div class="card hoverable">
                        <div class="card-image waves-effect waves-block waves-light">
                            <a href="/video-details"><img src="images/sample-1.jpg" /></a>
                        </div>
                        <div class="card-content">
                            <span class="grey-text text-darken-4">Card Title</span>
                        </div>
                    </div>
                </div>

            </div>
    </main>





    <%- include("./includes/bottom.ejs") %>