<%- include("./includes/top.ejs") %>

<main>
  <div class="container">
    <br /><br />
    <div class="row">
      <div class="col s12">
        <div class="card">
          <div class="card-content">
            <div class="row">
              <div class="input-field col s12">
                <h5>Motivation</h5>
                <br />
                <p>
                  Instagram is the best medium for powerlifters among other
                  social media. Back in the day, YouTube used to be it. Ever
                  since powerlifting has gotten popular, majority of the content
                  usually reside on Instagram.
                </p>
                <br />
                <p>
                  Instagram used to be really good before facebook bought it.
                  Now it has gotta a lot worse with unrelated contents. It has
                  also gotten a lot worse on the aspect of privacy. So I decided
                  to ditch Instagram and build my own platform to log my and
                  client training.
                </p>
                <br />
                <p>
                  I have open sourced this project. You can visit the link below
                  to view the source code!
                </p>
                <a
                  target="__blank"
                  href="https://github.com/wajeht/training-vlog"
                  >https://github.com/wajeht/training-vlog</a
                >
                <br />
                <br />
                <p>Best,</p>
                <p>Jaw</p>
                <br />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br />
</main>

<%- include("./includes/bottom.ejs") %>
