<%- include("../includes/top.ejs") %>

    <main>

        <div class="container">
            <br><br>
            <div class="row">
                <div class="col s12">
                    <div class="card">
                        <div class="card-content">

                            <div class="row">
                                <div class="input-field col s12">
                                    <span class="card-title grey-text text-darken-4">Password reset</span>
                                </div>
                            </div>

                            <form action="/new-password" method="POST">

                                <div class="row">
                                    <div class="input-field col s12">
                                        <input id="password" type="password" name="password" id="password"
                                               class="validate" required>
                                        <label for="password">New password</label>
                                    </div>
                                </div>



                                <div class="row">
                                    <div class="center col s12">
                                        <input type="hidden" id="token" name="token" value="<%= token %>">
                                        <input type="hidden" id="csrfToken" name="_csrf" value="<%= csrfToken %>">
                                        <button class="btn waves-effect waves-light grey darken-4" type="submit"
                                                name="action">Submit
                                            <i class="material-icons right ">send</i>
                                        </button>
                                    </div>
                                </div>


                            </form>


                        </div>

                    </div>
                </div>
            </div>
        </div>
        <br>
    </main>

    <%- include("../includes/bottom.ejs") %>